@use "sass:map";
@use "../../styles/config" as *;

.footer {
  width: 100%;
  padding: 4rem 0 3rem 0;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .main {
      width: 100%;
      max-width: 1164px;
      margin: 0 auto;
      padding-top: 2rem;

      .logo {
        display: flex;
        margin: 0 0 2rem 0;
      }

      .credits {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color: var(--zinc-light);
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 2rem;

        .socials {
          display: flex;
          gap: 2.5rem;
          align-items: center;
        }

        .list {
          display: flex;
          align-items: center;
          justify-content: center;

          .item {
            margin-right: 3.5rem;

            a {
              color: var(--white);
              font-weight: 500;
              text-transform: capitalize;
              letter-spacing: 0.5px;
              padding: 0.5rem 0;
              transition: all 0.2s ease;

              /*&:hover {
                color: var(--primary);
              }*/
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        @media screen and (min-width: #{$screen-md}px) {
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}
